DOCKER_PROJECT_NAME=laravel-app

APP_NAME="Laravel App"
APP_ENV=local
APP_DEBUG=true
APP_PORT=8500
APP_URL=http://localhost:8500

PHP_VERSION=8.4
NODE_VERSION=22

DB_CONNECTION=pgsql
DB_DATABASE=laravel_app
DB_USERNAME=laravel
DB_PASSWORD=laravel
DB_TEST_DATABASE=laravel_app_testing
FORWARD_DB_PORT=5450

CACHE_STORE=redis
CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis
REDIS_CLIENT=phpredis
REDIS_QUEUE_RETRY_AFTER=900

VITE_PORT=5174
VITE_HMR_HOST=localhost

RUN_MIGRATIONS=1

GITHUB_TOKEN=
