.git
.github
.idea
.vscode

.env
.env.*
!.env.example
!.env.docker.example

node_modules
vendor
auth.json

bootstrap/cache/*
!bootstrap/cache/.gitignore

public/build
public/hot
public/storage
public/fonts-manifest.dev.json

storage/pail
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
!storage/app/.gitignore
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/testing/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore

docker/db/*.sql
docker/db/*.sql.gz
docker/db/*.tar.gz

npm-debug.log
yarn-error.log
